{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "object-curly-spacing": [2, "always"],
    "space-in-parens": [
      2,
      "never"
    ],
    "dot-notation": 2,
    "brace-style": 2,
    "prefer-const": 2,
    "key-spacing": [
      2,
      {
        "mode": "strict"
      }
    ]
  }
}
